* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  font-family: Lato;
  font-weight: 400;
  align-items: center;
  justify-content: center;
  background-color: #26282a;
}

.scan {
  width: 300px;
  height: 300px;
  position: relative;
  background-size: 300px;
  filter: drop-shadow(0 0 20px #ffffff);
}

.scan::after {
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 8px;
  position: absolute;
  border-radius: 8px;
  background: #3fefef;
  animation: animate_line 4s ease-in-out infinite;
  filter: drop-shadow(0 0 20px #3fefef)  drop-shadow(0 0 60px #3fefef);
}

@keyframes animate_line
{
  0%, 100%
  {
      top: 0%;
  }
  50%
  {
      top: 100%;
  }
}

video {
  width: 100%;
  z-index: -1;
  height: 100vh;
  margin: 0 auto;
  display: block;
  object-fit: fill;
  position: absolute;
}

.anim-box {
  position: absolute;
  width: 300px;
  height: 300px;
  padding: 25px 30px;
  transition: transform .6s ease-out;
}

.anim-box:before, .anim-box:after, .anim-box>:first-child:before, .anim-box>:first-child:after {
  position: absolute;
  width: 10%; height: 15%;
  border-color: white; 
  border-style: solid;
  content: ' ';
}

.anim-box:before {
  top: 0; left: 0;
  border-width: 4px 0 0 4px;
}

.anim-box:after {
  top: 0; right: 0;
  border-width: 4px 4px 0 0;
}

.anim-box>:first-child:before {
  bottom: 0; right: 0;
  border-width: 0 4px 4px 0;
}

.anim-box>:first-child:after {
  bottom: 0; left: 0;
  border-width: 0 0 4px 4px;
}
